*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    color: white;
}

html,
body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
}

main{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom , rgb(26,26,26),rgb(30,30.,30),black);
    overflow: auto;

}

section{
    height: 100%;
    width: 350px;
    background-color: black;
    border-radius: 10px;
    margin: auto;
    /* overflow: auto; */
    
}

.all-reels{
    height: 100%;
    width: 100%;

    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.all-reels::-webkit-scrollbar{
    display: none;
}

.reel{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: lightblue;
    overflow: hidden; 
    border-radius: 10px;
    margin-bottom: 20px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.reel video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.reel .bottom {
    padding: 30px 20px;
    background: linear-gradient(rgba(0,0,0,0.111),black);
    width: 100%;
    position: absolute;
    bottom: 0;
}

.bottom .user{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.bottom .user img{
    height: 25px;
    width: 25px;
    object-fit: cover;
    border-radius: 50%;
}

.bottom .user h4{
    font-size: 15px;
    font-weight: 500;
}

.bottom .user button{
    background-color: transparent;
    padding: 2px 4px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 2px;
    border: solid white;
}
.bottom h3{
    font-weight: 500;
    font-size: 20px;
}


.right{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    text-align: center;
    width: 40px;
    position: absolute;
    /* height: 100%; */
    /* transform: translate(100%); */
    right: 0;
    bottom: 12%;
    border-radius: 10px;
}

.right h4{
    cursor: pointer;
}
.right i{
   font-size: 25px;
}

.right h6{
   font-size: 15px;
   font-weight: 500;
}

.right>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20px;
    cursor: pointer;
}

.liked{
    color: red;
}

.like>div h4{
    pointer-events: none;
}
.like>div h6{
    pointer-events: none;
}

.play-pause-anim {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    font-size: 70px;
    opacity: 0;
    pointer-events: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* When active → visible */
.play-pause-anim.show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}


.dbl-like-anim {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
    font-size: 90px;
}

.dbl-like-anim i {
    /* it will get red from .liked if you want, or just stay default */
    color: red;
}

/* when we add this class in JS, it pops in */
.dbl-like-anim.show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.3);
}
